body {
  background-color: rgb(129, 129, 125);
  display: flex;
  justify-content: center;
}

.container {
  width: 480px;
  background-color: yellow;
  padding: 3px;
  border: 2px solid black;
  font-weight: 500;
}
.logo img {
  display: block;
  height: 200px;
  width: 100%;
  margin: 0;
}
.menu nav {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}
.menu nav a {
  text-decoration: none;
  background-color: rgb(210, 147, 30);
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 35px;
  margin: 3px 0;
}
.intro {
  font-weight: 500;
  border: 2px solid black;
  border-radius: 10px;
}
.nap {
  display: block;
  background-color: rgb(210, 147, 30);
  margin: 5px auto;
  padding: 15px 40px;
  font-weight: bold;
  border-radius: 10px;
}
.nap a {
  text-decoration: none;
}
.intro p {
  padding: 5px 10px;
}
.tinhnang {
  font-weight: 500;
  border: 2px solid black;
  border-radius: 10px;
  margin: 3px 0;
}
.tinhnang a {
  text-decoration: none;
}
.tinhnang h3,
h4,
p {
  padding: 5px 10px;
}
.footer {
  text-align: center;
}
